@{
    ViewBag.Title = "About";
}
<header class="intro-header" style="background-image: url('../../image/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>关于我</h1>
                    <hr class="small">
                    <span class="subheading">此网站还在开发中</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>The Turth is what it is, not what you see</p>
            <p>The Turth is what it is, not what you see</p>
            <p>The Turth is what it is, not what you see</p>
        </div>
    </div>
</div>
<hr>

@section Scripts{
<script src="~/Scripts/clean-blog.min.js"></script>
    }